body{
    background-color: ghostwhite;
    font-family: Arial, sans-serif;
}
.title{
    margin: 10px;
}
.title h1{
    text-align: center;
    font-weight: bold;
}
#form-override{
    background-color: white;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
.prompts-container{
    outline-style: dashed;
    outline-color: gray;
    border-radius: 5px;
    padding: 5%;
    margin-bottom: 2%;
}
form h3{
    text-align: center;
    /*margin: 25%;*/
    margin-top: 0px;
    font-size: 22px;
    opacity: 0.5;
}
